<!DOCTYPE html>

<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login_page</title>
    </head>
    <body>
        
    </body>
    </html>
</head>

<body>


<h1>Login</h1>
<!-- to call an API -->
<form action="/login" method="post">

    <label for="email">Email:</label>
    <br>

    <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
    >

    <br><br>

    <label for="password">Password:</label>
    <br>

    <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
    >

    <br><br>

    <button type="submit">Login</button>

</form>

<br>

<p>Don't have an account?</p>

<a href="/signup">Create an account</a>


</body>

</html>
